.mfe-overrides-container h1 {
  margin: 0 0 16px 0;
  font-size: 2em;
  font-weight: 600;
  text-transform: capitalize;
  background: linear-gradient(90deg, #4070ff 0%, #8ca9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

}

.mfe-overrides-container * {
  font-family: "Inter", sans-serif;
}

.mfe-overrides-container {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  z-index: 1000;
  color: var(--colors-app-blue-500);
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.1));
}


/* Add these styles for the hr element */
.mfe-overrides-form hr {
  border: none;
  height: 1px;
  background: transparent;
  margin: 10px 0 14px;
  box-shadow: inset 1px 1px 2px rgba(174, 174, 192, 0.2),
    inset -1px -1px 2px rgba(255, 255, 255, 0.7);
}

.no-overrides {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.override-actions {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 16px;
}

.detect-mfes-button,
.add-mfe-button {
  background: #f0f0f7;
  color: #4070ff;
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.7),
    2px 2px 5px rgba(174, 174, 192, 0.15);
  transition: all 0.2s ease;
}

.detect-mfes-button {
  background: #4070ff;
  color: white;
}

.detect-mfes-button:hover,
.add-mfe-button:hover {
  transform: translateY(-1px);
}

.detect-mfes-button:hover {
  background: #5080ff;
}

.add-mfe-button:hover {
  background: #f8f8fc;
}

.detect-mfes-button:active,
.add-mfe-button:active {
  transform: translateY(1px);
  box-shadow: inset 2px 2px 4px rgba(174, 174, 192, 0.2),
    inset -2px -2px 4px rgba(255, 255, 255, 0.7);
}

.tab-container {
  display: flex;
  padding: 5px;
  margin-right: 40px;
}

.tab-container button {
  margin: 0 2px 0 2px
}

.panel-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.panel-tabs h3 {}

.active {
  transform: translateY(1px);
  box-shadow: inset 2px 2px 4px rgba(174, 174, 192, 0.2),
    inset -2px -2px 4px rgba(255, 255, 255, 0.7);
}