:root {
  --shadow-color: rgba(5, 2, 95, 0.0973);
  --light-color: rgba(255, 255, 255, 0.8);
  --surface-color: #fafbfd;
  --text-color: #2a2a2a;
  --text-color-light: #5f5f5f;
  --border-radius: 10px;
}

.remotes-form {
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 4px var(--light-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.host-group {
  margin-bottom: 1rem;
}

.host-group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.host-title h4 {
  margin: 0;
  /* color: var(--text-color); */
  font-size: 21px;
  color: var(--colors-app-blue-700);
}

.host-version {
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  font-size: 0.9rem;
  box-shadow: inset 0.5px 0.5px 1px var(--shadow-color),
    inset -0.5px -0.5px 1px var(--light-color);
}

.remotes-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.2rem;
  border-radius: 8px;
  background-color: red !important;
}

.remotes-table thead {
  border-bottom: 1px solid var(--colors-gray-light-mode-200);
  /* background: linear-gradient(145deg, #f3f6f9 0%, #eaeff3 100%); */
  border-radius: 8px;
  /* box-shadow: 3px 3px 6px rgba(166, 180, 200, 0.15),
    -3px -3px 6px rgba(255, 255, 255, 0.8); */
}

.remotes-table thead tr {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.remotes-table th {
  font-weight: 400 !important;
  text-align: left;
  font-size: 16px !important;
  padding: 2px 4px 2px 4px;
  position: relative;
}

.remotes-table td {
  padding: 2px 4px 2px 4px;
}

.remotes-table tbody {
  /* background: var(--surface-color); */
}

table {
  /* background: #dadada !important; */
}

.remotes-table th {
  color: var(--colors-gray-light-mode-500) !important;
  font-weight: 400;
  text-align: left;
  font-size: 16px;
}

.remotes-table td {
  width: 37%;
  margin: auto;
  text-align: left;
}

.version-cell {
  width: 25% !important;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.message-cell-text {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.override-message {
  display: flex;
  /* align-items: center; */
  justify-content: flex-end;
  width: 100%;
}

.override-message span {
  background: var(--colors-primary-colors-caution-caution-50);
  border: 1px solid var(--colors-primary-colors-caution-caution-500);
  padding: 2px 4px 2px 4px;
  border-radius: 6px;
  font-size: 12px;
  color: var(--colors-primary-colors-caution-utility-warning-700);
}

.clear-override {
  background: var(--colors-primary-colors-caution-caution-50);
  border: 1px solid var(--colors-primary-colors-caution-caution-500);
  padding: 2px 4px 2px 4px;
  border-radius: 6px;
  font-size: 12px;
  color: var(--colors-primary-colors-caution-utility-warning-700);
}

.apply-override {
  background: var(--colors-primary-colors-success-success-100);
  border: 1px solid var(--colors-primary-colors-success-success-500);
  padding: 2px 4px 2px 4px;
  border-radius: 6px;
  font-size: 12px;
  color: var(--colors-primary-colors-success-utility-success-700);
}

.remotes-table tr {
  padding: 0rem !important;
  border-radius: var(--border-radius);
}

.remotes-table tr.modified {
  color: #1976d2 !important;
}

.remote-label {
  font-weight: 500;
  color: var(--colors-brand-accuris-900);
  font-size: 16px;
}

.remote-label:hover {
  color: #1976d2;
  cursor: pointer;
}

.form-actions {
  display: flex;
  gap: 1rem;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 10px 0 15px 0;
  background-color: white;
}

@keyframes greenPulse {
  0% {
    box-shadow: 0 0 5px rgba(13, 159, 76, 0.3), 0 0 10px rgba(13, 159, 76, 0.1);
  }
  50% {
    box-shadow: 0 0 8px rgba(13, 159, 76, 0.5), 0 0 15px rgba(13, 159, 76, 0.2);
  }
  100% {
    box-shadow: 0 0 5px rgba(13, 159, 76, 0.3), 0 0 10px rgba(13, 159, 76, 0.1);
  }
}
