@font-face {
  font-family: "Geist";
  src: url("./fonts/GeistVF.woff2") format("woff2"),
    url("./fonts/GeistVF.woff") format("woff");
}

/* @media (prefers-color-scheme: light) { */
:root {
  /* light mode */
  /* colors */
  --colors-background-bg-brand-100: var(--colors-app-blue-100);
  --colors-background-bg-brand-100-alt: var(--colors-app-blue-100);
  --colors-background-bg-brand-25: var(--colors-app-blue-25);
  --colors-background-bg-brand-400: var(--colors-app-blue-400);
  --colors-background-bg-brand-50: var(--colors-app-blue-50);
  --colors-background-bg-brand-500: var(--colors-app-blue-500);
  --colors-background-bg-brand-600: var(--colors-app-blue-600);
  --colors-background-bg-brand-950: var(--colors-app-blue-950);
  --colors-background-bg-caution-100: var(--colors-caution-100);
  --colors-background-bg-caution-25: var(--colors-caution-25);
  --colors-background-bg-caution-600: var(--colors-caution-600);
  --colors-background-bg-error-100: var(--colors-error-100);
  --colors-background-bg-error-25: var(--colors-error-25);
  --colors-background-bg-error-600: var(--colors-error-600);
  --colors-background-bg-gray-100: var(--colors-gray-light-mode-100);
  --colors-background-bg-gray-100-alt: var(--colors-gray-light-mode-100);
  --colors-background-bg-gray-200: var(--colors-gray-light-mode-200);
  --colors-background-bg-gray-200-alt: var(--colors-gray-light-mode-200);
  --colors-background-bg-gray-25: var(--colors-gray-light-mode-25);
  --colors-background-bg-gray-300: var(--colors-gray-light-mode-300);
  --colors-background-bg-gray-50: var(--colors-gray-light-mode-50);
  --colors-background-bg-gray-50-alt: var(--colors-gray-light-mode-50);
  --colors-background-bg-gray-overlay: var(--colors-gray-light-mode-800);
  --colors-background-bg-success-100: var(--colors-success-100);
  --colors-background-bg-success-25: var(--colors-success-25);
  --colors-background-bg-success-600: var(--colors-success-600);
  --colors-background-bg-transperent: var(--colors-base-white-01);
  --colors-background-bg-transperent-overlay: var(--colors-base-white-05);
  --colors-background-bg-warning-100: var(--colors-warning-100);
  --colors-background-bg-white: var(--colors-base-white);
  --colors-background-bg-white-alt: var(--colors-base-white);
  --colors-background-bg-white-alt-2: var(--colors-base-white);
  --colors-background-bg-white-base: var(--colors-base-white);
  --colors-background-bg-white-logo: var(--colors-base-white);
  --colors-border-border-brand-200: var(--colors-app-blue-200);
  --colors-border-border-brand-300: var(--colors-app-blue-300);
  --colors-border-border-brand-300-alt: var(--colors-app-blue-300);
  --colors-border-border-brand-400: var(--colors-app-blue-400);
  --colors-border-border-brand-500: var(--colors-app-blue-500);
  --colors-border-border-brand-600: var(--colors-app-blue-600);
  --colors-border-border-caution-200: var(--colors-caution-200);
  --colors-border-border-error-200: var(--colors-error-200);
  --colors-border-border-error-300: var(--colors-error-300);
  --colors-border-border-error-600: var(--colors-error-600);
  --colors-border-border-gray-200: var(--colors-gray-light-mode-200);
  --colors-border-border-gray-200-alt: var(--colors-gray-light-mode-200);
  --colors-border-border-gray-300: var(--colors-gray-light-mode-300);
  --colors-border-border-gray-400: var(--colors-gray-light-mode-400);
  --colors-border-border-gray-500: var(--colors-gray-light-mode-500);
  --colors-border-border-success-200: var(--colors-success-200);
  --colors-border-border-success-600: var(--colors-success-600);
  --colors-border-border-white: var(--colors-base-white);
  --colors-components-avatars-bg-gray-100: var(--colors-background-bg-gray-100);
  --colors-components-avatars-border-gray-200: var(
    --colors-border-border-gray-200
  );
  --colors-components-avatars-fg-gray-500: var(--colors-foreground-fg-gray-500);
  --colors-components-badges-bg-default-brand-25: var(
    --colors-background-bg-brand-25
  );
  --colors-components-badges-bg-default-caution-25: var(
    --colors-background-bg-caution-25
  );
  --colors-components-badges-bg-default-error-25: var(
    --colors-background-bg-error-25
  );
  --colors-components-badges-bg-default-gray-100: var(
    --colors-background-bg-gray-100
  );
  --colors-components-badges-bg-default-success-25: var(
    --colors-background-bg-success-25
  );
  --colors-components-badges-border-brand-200: var(
    --colors-border-border-brand-300-alt
  );
  --colors-components-badges-border-caution-200: var(
    --colors-border-border-caution-200
  );
  --colors-components-badges-border-error-200: var(
    --colors-border-border-error-200
  );
  --colors-components-badges-border-gray-200: var(
    --colors-border-border-gray-200-alt
  );
  --colors-components-badges-border-success-200: var(
    --colors-border-border-success-200
  );
  --colors-components-badges-fg-brand-600: var(
    --colors-foreground-fg-brand-600
  );
  --colors-components-badges-fg-caution-600: var(
    --colors-foreground-fg-caution-600
  );
  --colors-components-badges-fg-disabled-gray-400: var(
    --colors-foreground-fg-gray-400
  );
  --colors-components-badges-fg-error-600: var(
    --colors-foreground-fg-error-600
  );
  --colors-components-badges-fg-gray-600: var(--colors-foreground-fg-gray-600);
  --colors-components-badges-fg-success-600: var(
    --colors-foreground-fg-success-600
  );
  --colors-components-buttons-primary-brand-bg-default-brand-500: var(
    --colors-background-bg-brand-500
  );
  --colors-components-buttons-primary-brand-bg-disabled-gray-100-alt: var(
    --colors-background-bg-gray-100-alt
  );
  --colors-components-buttons-primary-brand-bg-hover-brand-600: var(
    --colors-background-bg-brand-600
  );
  --colors-components-buttons-primary-brand-bg-pressed-brand-400: var(
    --colors-background-bg-brand-400
  );
  --colors-components-buttons-primary-brand-border-disabled-gray-200: var(
    --colors-border-border-gray-200
  );
  --colors-components-buttons-primary-brand-fg-default-white-un: var(
    --colors-foreground-fg-white-un
  );
  --colors-components-buttons-primary-brand-fg-disabled-gray-400: var(
    --colors-foreground-fg-gray-400
  );
  --colors-components-buttons-secondary-brand-bg-default-white-alt: var(
    --colors-background-bg-white-alt
  );
  --colors-components-buttons-secondary-brand-bg-hover-brand-50: var(
    --colors-background-bg-brand-50
  );
  --colors-components-buttons-secondary-brand-border-default-brand-300-alt: var(
    --colors-border-border-brand-300-alt
  );
  --colors-components-buttons-secondary-brand-border-disabled-gray-200: var(
    --colors-border-border-gray-200
  );
  --colors-components-buttons-secondary-brand-border-hover-brand-400: var(
    --colors-border-border-brand-400
  );
  --colors-components-buttons-secondary-brand-fg-default-brand-500: var(
    --colors-foreground-fg-brand-500
  );
  --colors-components-buttons-secondary-brand-fg-disabled-gray-400: var(
    --colors-foreground-fg-gray-400
  );
  --colors-components-buttons-secondary-brand-fg-hover-brand-600: var(
    --colors-foreground-fg-brand-600
  );
  --colors-components-buttons-secondary-brand-fg-pressed-brand-400: var(
    --colors-foreground-fg-brand-400
  );
  --colors-components-buttons-secondary-gray-bg-default-white-alt: var(
    --colors-background-bg-white-alt
  );
  --colors-components-buttons-secondary-gray-bg-hover-gray-200-alt: var(
    --colors-background-bg-gray-200-alt
  );
  --colors-components-buttons-secondary-gray-border-default-gray-300: var(
    --colors-border-border-gray-300
  );
  --colors-components-buttons-secondary-gray-border-disabled-gray-200: var(
    --colors-border-border-gray-200
  );
  --colors-components-buttons-secondary-gray-border-hover-gray-400: var(
    --colors-border-border-gray-400
  );
  --colors-components-buttons-secondary-gray-fg-default-gray-600: var(
    --colors-foreground-fg-gray-600
  );
  --colors-components-buttons-secondary-gray-fg-disabled-gray-400: var(
    --colors-foreground-fg-gray-400
  );
  --colors-components-buttons-secondary-gray-fg-hover-gray-700: var(
    --colors-foreground-fg-gray-700
  );
  --colors-components-buttons-secondary-gray-fg-pressed-gray-500: var(
    --colors-foreground-fg-gray-500
  );
  --colors-components-buttons-tertiary-brand-bg-focused-transparent: var(
    --colors-background-bg-transperent
  );
  --colors-components-buttons-tertiary-brand-bg-hover-brand-50: var(
    --colors-background-bg-brand-50
  );
  --colors-components-buttons-tertiary-brand-bg-pressed-white-alt: var(
    --colors-background-bg-white-alt
  );
  --colors-components-buttons-tertiary-brand-fg-default-brand-500: var(
    --colors-foreground-fg-brand-500
  );
  --colors-components-buttons-tertiary-brand-fg-disabled-gray-400: var(
    --colors-foreground-fg-gray-400
  );
  --colors-components-buttons-tertiary-brand-fg-hover-brand-600: var(
    --colors-foreground-fg-brand-600
  );
  --colors-components-buttons-tertiary-brand-fg-pressed-brand-400-un: var(
    --colors-foreground-fg-brand-400-un
  );
  --colors-components-buttons-tertiary-gray-bg-focused-transparent: var(
    --colors-background-bg-transperent
  );
  --colors-components-buttons-tertiary-gray-bg-hover-gray-200-alt: var(
    --colors-background-bg-gray-200-alt
  );
  --colors-components-buttons-tertiary-gray-bg-pressed-white-alt: var(
    --colors-background-bg-white-alt
  );
  --colors-components-buttons-tertiary-gray-fg-default-gray-600: var(
    --colors-foreground-fg-gray-600
  );
  --colors-components-buttons-tertiary-gray-fg-disabled-gray-400: var(
    --colors-foreground-fg-gray-400
  );
  --colors-components-buttons-tertiary-gray-fg-hover-gray-700: var(
    --colors-foreground-fg-gray-700
  );
  --colors-components-buttons-tertiary-gray-fg-pressed-gray-500: var(
    --colors-foreground-fg-gray-500
  );
  --colors-components-checkboxes-bg-default-brand-500: var(
    --colors-background-bg-brand-500
  );
  --colors-components-checkboxes-bg-default-white: var(
    --colors-background-bg-white
  );
  --colors-components-checkboxes-bg-disabled-gray-100: var(
    --colors-background-bg-gray-100
  );
  --colors-components-checkboxes-bg-hover-brand-600: var(
    --colors-background-bg-brand-600
  );
  --colors-components-checkboxes-bg-pressed-brand-400: var(
    --colors-background-bg-brand-400
  );
  --colors-components-checkboxes-border-default-gray-400: var(
    --colors-border-border-gray-400
  );
  --colors-components-checkboxes-border-disabled-gray-300: var(
    --colors-border-border-gray-300
  );
  --colors-components-checkboxes-border-hover-gray-500: var(
    --colors-border-border-gray-500
  );
  --colors-components-checkboxes-border-pressed-gray-300: var(
    --colors-border-border-gray-300
  );
  --colors-components-checkboxes-fg-default-white-un: var(
    --colors-foreground-fg-white-un
  );
  --colors-components-checkboxes-fg-disabled-gray-400: var(
    --colors-foreground-fg-gray-400
  );
  --colors-components-icons-bg-hover-brand-50: var(
    --colors-background-bg-brand-50
  );
  --colors-components-icons-bg-hover-gray-200-alt: var(
    --colors-background-bg-gray-200-alt
  );
  --colors-components-icons-fg-default-brand-500: var(
    --colors-foreground-fg-brand-500
  );
  --colors-components-icons-fg-default-gray-500-alt: var(
    --colors-foreground-fg-gray-500-alt
  );
  --colors-components-icons-fg-disabled-brand-400: var(
    --colors-foreground-fg-brand-400
  );
  --colors-components-icons-fg-disabled-gray-400: var(
    --colors-foreground-fg-gray-400
  );
  --colors-components-icons-fg-hover-brand-600: var(
    --colors-foreground-fg-brand-600
  );
  --colors-components-icons-fg-hover-gray-600: var(
    --colors-foreground-fg-gray-600
  );
  --colors-components-inputs-bg-active-brand-25: var(
    --colors-background-bg-brand-25
  );
  --colors-components-inputs-bg-default-white: var(
    --colors-background-bg-white
  );
  --colors-components-inputs-bg-disabled-gray-100: var(
    --colors-background-bg-gray-100
  );
  --colors-components-inputs-bg-hover-gray-50-alt: var(
    --colors-background-bg-gray-50-alt
  );
  --colors-components-inputs-border-active-brand-300: var(
    --colors-border-border-brand-300
  );
  --colors-components-inputs-border-default-gray-200: var(
    --colors-border-border-gray-200
  );
  --colors-components-inputs-border-default-gray-300: var(
    --colors-border-border-gray-300
  );
  --colors-components-inputs-border-error-300: var(--colors-error-300);
  --colors-components-inputs-fg-active-gray-600: var(
    --colors-foreground-fg-gray-600
  );
  --colors-components-inputs-fg-default-brand-500: var(
    --colors-foreground-fg-brand-500
  );
  --colors-components-inputs-fg-default-error-600: var(
    --colors-foreground-fg-error-600
  );
  --colors-components-inputs-fg-default-gray-500: var(
    --colors-foreground-fg-gray-500
  );
  --colors-components-inputs-fg-disabled-gray-400: var(
    --colors-foreground-fg-gray-400
  );
  --colors-components-logos-bg-white: var(--colors-background-bg-white-logo);
  --colors-components-logos-border-gray-200: var(
    --colors-border-border-gray-200
  );
  --colors-components-logos-fg-brand-500: var(
    --colors-foreground-fg-brand-500-logo
  );
  --colors-components-logos-fg-gray-300: var(--colors-foreground-fg-gray-300);
  --colors-components-pagination-bg-active-brand-50: var(
    --colors-background-bg-brand-50
  );
  --colors-components-pagination-bg-hover-gray-50-alt: var(
    --colors-background-bg-gray-50-alt
  );
  --colors-components-pagination-border-default-gray-200: var(
    --colors-border-border-gray-200
  );
  --colors-components-slider-bg-active-brand-500: var(--colors-app-blue-500);
  --colors-components-slider-bg-default-brand-400: var(--colors-app-blue-400);
  --colors-components-slider-bg-default-gray-200: var(
    --colors-gray-light-mode-200
  );
  --colors-components-slider-bg-disabled-gray-300: var(
    --colors-gray-light-mode-300
  );
  --colors-components-slider-bg-hover-brand-600: var(--colors-app-blue-600);
  --colors-components-slider-fg-default-white-un: var(--colors-base-white);
  --colors-components-slider-fg-white-alt-2-2: var(--colors-base-white);
  --colors-components-table-bg-default-brand-100-alt: var(
    --colors-background-bg-brand-100-alt
  );
  --colors-components-table-bg-default-cell-white: var(
    --colors-background-bg-white
  );
  --colors-components-table-bg-default-header-gray-25: var(
    --colors-background-bg-gray-25
  );
  --colors-components-table-bg-hover-cell-gray-25: var(
    --colors-background-bg-gray-25
  );
  --colors-components-table-bg-selected-cell-brand-50: var(
    --colors-background-bg-brand-50
  );
  --colors-components-table-border-default-brand-200: var(
    --colors-border-border-brand-200
  );
  --colors-components-table-border-default-gray-200: var(
    --colors-border-border-gray-200
  );
  --colors-components-table-fg-default-gray-700: var(
    --colors-foreground-fg-gray-700
  );
  --colors-components-tabs-bg-active-brand-50: var(
    --colors-background-bg-brand-50
  );
  --colors-components-tabs-bg-default-gray-50: var(
    --colors-background-bg-gray-50
  );
  --colors-components-tabs-bg-white-alt-2: var(
    --colors-background-bg-white-alt-2
  );
  --colors-components-tabs-border-active-brand-600: var(
    --colors-border-border-brand-600
  );
  --colors-components-tabs-border-default-gray-200: var(
    --colors-border-border-gray-200
  );
  --colors-components-tabs-border-hover-gray-400: var(
    --colors-border-border-gray-400
  );
  --colors-components-tabs-fg-active-brand-900: var(
    --colors-foreground-fg-brand-900
  );
  --colors-components-tabs-fg-default-gray-500: var(
    --colors-foreground-fg-gray-500
  );
  --colors-components-tabs-fg-disable-gray-300: var(
    --colors-foreground-fg-gray-300
  );
  --colors-components-tabs-fg-hover-gray-700: var(
    --colors-foreground-fg-gray-700
  );
  --colors-components-tooltip-bg-brand-950: var(--colors-app-blue-950);
  --colors-components-tooltips-bg-default-brand-950: var(
    --colors-background-bg-brand-950
  );
  --colors-foreground-fg-brand-400: var(--colors-app-blue-400);
  --colors-foreground-fg-brand-400-alt: var(--colors-app-blue-400);
  --colors-foreground-fg-brand-400-un: var(--colors-app-blue-400);
  --colors-foreground-fg-brand-500: var(--colors-app-blue-500);
  --colors-foreground-fg-brand-500-20: var(--colors-app-blue-500);
  --colors-foreground-fg-brand-500-logo: var(--colors-brand-accuris-500);
  --colors-foreground-fg-brand-600: var(--colors-app-blue-600);
  --colors-foreground-fg-brand-900: var(--colors-app-blue-900);
  --colors-foreground-fg-caution-600: var(--colors-caution-600);
  --colors-foreground-fg-error-500: var(--colors-error-500);
  --colors-foreground-fg-error-600: var(--colors-error-600);
  --colors-foreground-fg-gray-300: var(--colors-gray-light-mode-300);
  --colors-foreground-fg-gray-400: var(--colors-gray-light-mode-400);
  --colors-foreground-fg-gray-500: var(--colors-gray-light-mode-500);
  --colors-foreground-fg-gray-500-alt: var(--colors-gray-light-mode-500);
  --colors-foreground-fg-gray-600: var(--colors-gray-light-mode-600);
  --colors-foreground-fg-gray-700: var(--colors-gray-light-mode-700);
  --colors-foreground-fg-gray-800: var(--colors-gray-light-mode-800);
  --colors-foreground-fg-gray-900: var(--colors-gray-light-mode-900);
  --colors-foreground-fg-success-500: var(--colors-success-500);
  --colors-foreground-fg-success-600: var(--colors-success-600);
  --colors-foreground-fg-warning-500: var(--colors-warning-500);
  --colors-foreground-fg-warning-600: var(--colors-warning-600);
  --colors-foreground-fg-white-alt-2: var(--colors-base-white);
  --colors-foreground-fg-white-un: var(--colors-base-white);
  --colors-primary-colors-brand-brand-100: var(--colors-app-blue-100);
  --colors-primary-colors-brand-brand-100-alt: var(--colors-app-blue-100);
  --colors-primary-colors-brand-brand-200: var(--colors-app-blue-200);
  --colors-primary-colors-brand-brand-200-alt: var(--colors-app-blue-200);
  --colors-primary-colors-brand-brand-300: var(--colors-app-blue-300);
  --colors-primary-colors-brand-brand-300-alt: var(--colors-app-blue-300);
  --colors-primary-colors-brand-brand-400: var(--colors-app-blue-400);
  --colors-primary-colors-brand-brand-400-alt: var(--colors-app-blue-400);
  --colors-primary-colors-brand-brand-50: var(--colors-app-blue-50);
  --colors-primary-colors-brand-brand-500: var(--colors-app-blue-500);
  --colors-primary-colors-brand-brand-500-alt: var(--colors-app-blue-500);
  --colors-primary-colors-brand-brand-50-alt: var(--colors-app-blue-50);
  --colors-primary-colors-brand-brand-600: var(--colors-app-blue-600);
  --colors-primary-colors-brand-brand-600-alt: var(--colors-app-blue-600);
  --colors-primary-colors-brand-brand-700: var(--colors-app-blue-700);
  --colors-primary-colors-brand-brand-700-alt: var(--colors-app-blue-700);
  --colors-primary-colors-brand-brand-800: var(--colors-app-blue-800);
  --colors-primary-colors-brand-brand-800-alt: var(--colors-app-blue-800);
  --colors-primary-colors-brand-brand-900: var(--colors-app-blue-900);
  --colors-primary-colors-brand-utility-brand-900-alt: var(
    --colors-app-blue-900
  );
  --colors-primary-colors-caution-caution-100: var(--colors-caution-100);
  --colors-primary-colors-caution-caution-200: var(--colors-caution-200);
  --colors-primary-colors-caution-caution-300: var(--colors-caution-300);
  --colors-primary-colors-caution-caution-400: var(--colors-caution-400);
  --colors-primary-colors-caution-caution-50: var(--colors-caution-50);
  --colors-primary-colors-caution-caution-500: var(--colors-caution-500);
  --colors-primary-colors-caution-caution-600: var(--colors-caution-600);
  --colors-primary-colors-caution-utility-warning-700: var(
    --colors-caution-700
  );
  --colors-primary-colors-error-error-100: var(--colors-error-100);
  --colors-primary-colors-error-error-200: var(--colors-error-200);
  --colors-primary-colors-error-error-300: var(--colors-error-300);
  --colors-primary-colors-error-error-400: var(--colors-error-400);
  --colors-primary-colors-error-error-50: var(--colors-error-50);
  --colors-primary-colors-error-error-500: var(--colors-error-500);
  --colors-primary-colors-error-error-600: var(--colors-error-600);
  --colors-primary-colors-error-error-700: var(--colors-error-700);
  --colors-primary-colors-gray-gray-100: var(--colors-gray-light-mode-100);
  --colors-primary-colors-gray-gray-200: var(--colors-gray-light-mode-200);
  --colors-primary-colors-gray-gray-300: var(--colors-gray-light-mode-300);
  --colors-primary-colors-gray-gray-400: var(--colors-gray-light-mode-400);
  --colors-primary-colors-gray-gray-50: var(--colors-gray-light-mode-50);
  --colors-primary-colors-gray-gray-500: var(--colors-gray-light-mode-500);
  --colors-primary-colors-gray-gray-600: var(--colors-gray-light-mode-600);
  --colors-primary-colors-gray-gray-700: var(--colors-gray-light-mode-700);
  --colors-primary-colors-gray-gray-800: var(--colors-gray-light-mode-800);
  --colors-primary-colors-gray-gray-900: var(--colors-gray-light-mode-900);
  --colors-primary-colors-success-success-100: var(--colors-success-100);
  --colors-primary-colors-success-success-200: var(--colors-success-200);
  --colors-primary-colors-success-success-300: var(--colors-success-300);
  --colors-primary-colors-success-success-400: var(--colors-success-400);
  --colors-primary-colors-success-success-50: var(--colors-success-50);
  --colors-primary-colors-success-success-500: var(--colors-success-500);
  --colors-primary-colors-success-success-600: var(--colors-success-600);
  --colors-primary-colors-success-utility-success-700: var(
    --colors-success-700
  );
  --colors-primary-colors-warning-utility-warning-700: var(
    --colors-warning-700
  );
  --colors-primary-colors-warning-warning-100: var(--colors-warning-100);
  --colors-primary-colors-warning-warning-200: var(--colors-warning-200);
  --colors-primary-colors-warning-warning-300: var(--colors-warning-300);
  --colors-primary-colors-warning-warning-400: var(--colors-warning-400);
  --colors-primary-colors-warning-warning-50: var(--colors-warning-50);
  --colors-primary-colors-warning-warning-500: var(--colors-warning-500);
  --colors-primary-colors-warning-warning-600: var(--colors-warning-600);
  --colors-secondary-colors-fuchsia-100: var(--colors-fuchsia-100);
  --colors-secondary-colors-fuchsia-200: var(--colors-fuchsia-200);
  --colors-secondary-colors-fuchsia-300: var(--colors-fuchsia-300);
  --colors-secondary-colors-fuchsia-400: var(--colors-fuchsia-400);
  --colors-secondary-colors-fuchsia-50: var(--colors-fuchsia-50);
  --colors-secondary-colors-fuchsia-500: var(--colors-fuchsia-500);
  --colors-secondary-colors-fuchsia-600: var(--colors-fuchsia-600);
  --colors-secondary-colors-fuchsia-700: var(--colors-fuchsia-700);
  --colors-text-brand-300: var(--colors-app-blue-300);
  --colors-text-brand-400: var(--colors-app-blue-400);
  --colors-text-brand-500: var(--colors-app-blue-500);
  --colors-text-brand-500-20: var(--colors-app-blue-500-20);
  --colors-text-brand-600: var(--colors-app-blue-600);
  --colors-text-brand-700: var(--colors-app-blue-700);
  --colors-text-brand-800: var(--colors-app-blue-800);
  --colors-text-brand-900: var(--colors-app-blue-900);
  --colors-text-caution-900: var(--colors-caution-900);
  --colors-text-error-500: var(--colors-error-500);
  --colors-text-error-600: var(--colors-error-600);
  --colors-text-error-900: var(--colors-error-900);
  --colors-text-fuchsia-300: var(--colors-fuchsia-300);
  --colors-text-fuchsia-400: var(--colors-fuchsia-400);
  --colors-text-fuchsia-500: var(--colors-fuchsia-500);
  --colors-text-fuchsia-500-20: var(--colors-fuchsia-500-20);
  --colors-text-fuchsia-600: var(--colors-fuchsia-600);
  --colors-text-gray-200: var(--colors-gray-light-mode-200);
  --colors-text-gray-25: var(--colors-gray-light-mode-25);
  --colors-text-gray-300: var(--colors-gray-light-mode-300);
  --colors-text-gray-400: var(--colors-gray-light-mode-400);
  --colors-text-gray-500: var(--colors-gray-light-mode-500);
  --colors-text-gray-600: var(--colors-gray-light-mode-600);
  --colors-text-gray-700: var(--colors-gray-light-mode-700);
  --colors-text-gray-800: var(--colors-gray-light-mode-800);
  --colors-text-gray-900: var(--colors-gray-light-mode-900);
  --colors-text-primary-white-un: var(--colors-base-white);
  --colors-text-success-900: var(--colors-success-900);
}
/* } */

@media (prefers-color-scheme: dark-x) {
  :root {
    /* dark mode */
    /* colors */
    --colors-background-bg-brand-100: var(--colors-app-blue-400-10);
    --colors-background-bg-brand-100-alt: var(--colors-app-blue-950);
    --colors-background-bg-brand-25: var(--colors-app-blue-950);
    --colors-background-bg-brand-400: var(--colors-app-blue-600);
    --colors-background-bg-brand-50: var(--colors-app-blue-400-10);
    --colors-background-bg-brand-500: var(--colors-app-blue-500);
    --colors-background-bg-brand-600: var(--colors-app-blue-400);
    --colors-background-bg-brand-950: var(--colors-app-blue-25);
    --colors-background-bg-caution-100: var(--colors-caution-900);
    --colors-background-bg-caution-25: var(--colors-caution-950);
    --colors-background-bg-caution-600: var(--colors-caution-500);
    --colors-background-bg-error-100: var(--colors-error-900);
    --colors-background-bg-error-25: var(--colors-error-950);
    --colors-background-bg-error-600: var(--colors-error-500);
    --colors-background-bg-gray-100: var(--colors-gray-dark-mode-800);
    --colors-background-bg-gray-100-alt: var(--colors-gray-dark-mode-900);
    --colors-background-bg-gray-200: var(--colors-gray-dark-mode-700);
    --colors-background-bg-gray-200-alt: var(--colors-base-white-10);
    --colors-background-bg-gray-25: var(--colors-gray-dark-mode-900);
    --colors-background-bg-gray-300: var(--colors-gray-dark-mode-600);
    --colors-background-bg-gray-50: var(--colors-gray-dark-mode-800);
    --colors-background-bg-gray-50-alt: var(--colors-gray-dark-mode-700);
    --colors-background-bg-gray-overlay: var(--colors-gray-dark-mode-800);
    --colors-background-bg-success-100: var(--colors-success-900);
    --colors-background-bg-success-25: var(--colors-success-950);
    --colors-background-bg-success-600: var(--colors-success-500);
    --colors-background-bg-transperent: var(--colors-base-white-01);
    --colors-background-bg-transperent-overlay: var(--colors-base-white-05);
    --colors-background-bg-warning-100: var(--colors-warning-900);
    --colors-background-bg-white: var(--colors-gray-dark-mode-950);
    --colors-background-bg-white-alt: var(--colors-gray-dark-mode-900);
    --colors-background-bg-white-alt-2: var(--colors-gray-dark-mode-800);
    --colors-background-bg-white-base: var(--colors-base-black);
    --colors-background-bg-white-logo: var(--colors-brand-accuris-500);
    --colors-border-border-brand-200: var(--colors-app-blue-800);
    --colors-border-border-brand-300: var(--colors-app-blue-400);
    --colors-border-border-brand-300-alt: var(--colors-app-blue-700);
    --colors-border-border-brand-400: var(--colors-app-blue-600);
    --colors-border-border-brand-500: var(--colors-app-blue-500);
    --colors-border-border-brand-600: var(--colors-app-blue-400);
    --colors-border-border-caution-200: var(--colors-caution-700);
    --colors-border-border-error-200: var(--colors-error-700);
    --colors-border-border-error-300: var(--colors-error-400);
    --colors-border-border-error-600: var(--colors-error-500);
    --colors-border-border-gray-200: var(--colors-gray-dark-mode-800);
    --colors-border-border-gray-200-alt: var(--colors-gray-dark-mode-700);
    --colors-border-border-gray-300: var(--colors-gray-dark-mode-700);
    --colors-border-border-gray-400: var(--colors-gray-dark-mode-600);
    --colors-border-border-gray-500: var(--colors-gray-dark-mode-500);
    --colors-border-border-success-200: var(--colors-success-700);
    --colors-border-border-success-600: var(--colors-success-500);
    --colors-border-border-white: var(--colors-gray-dark-mode-950);
    --colors-components-avatars-bg-gray-100: var(
      --colors-background-bg-gray-100
    );
    --colors-components-avatars-border-gray-200: var(
      --colors-border-border-gray-200
    );
    --colors-components-avatars-fg-gray-500: var(
      --colors-foreground-fg-gray-500
    );
    --colors-components-badges-bg-default-brand-25: var(
      --colors-background-bg-brand-25
    );
    --colors-components-badges-bg-default-caution-25: var(
      --colors-background-bg-caution-25
    );
    --colors-components-badges-bg-default-error-25: var(
      --colors-background-bg-error-25
    );
    --colors-components-badges-bg-default-gray-100: var(
      --colors-background-bg-gray-100
    );
    --colors-components-badges-bg-default-success-25: var(
      --colors-background-bg-success-25
    );
    --colors-components-badges-border-brand-200: var(
      --colors-border-border-brand-300-alt
    );
    --colors-components-badges-border-caution-200: var(
      --colors-border-border-caution-200
    );
    --colors-components-badges-border-error-200: var(
      --colors-border-border-error-200
    );
    --colors-components-badges-border-gray-200: var(
      --colors-border-border-gray-200-alt
    );
    --colors-components-badges-border-success-200: var(
      --colors-border-border-success-200
    );
    --colors-components-badges-fg-brand-600: var(
      --colors-foreground-fg-brand-600
    );
    --colors-components-badges-fg-caution-600: var(
      --colors-foreground-fg-caution-600
    );
    --colors-components-badges-fg-disabled-gray-400: var(
      --colors-foreground-fg-gray-400
    );
    --colors-components-badges-fg-error-600: var(
      --colors-foreground-fg-error-600
    );
    --colors-components-badges-fg-gray-600: var(
      --colors-foreground-fg-gray-600
    );
    --colors-components-badges-fg-success-600: var(
      --colors-foreground-fg-success-600
    );
    --colors-components-buttons-primary-brand-bg-default-brand-500: var(
      --colors-background-bg-brand-500
    );
    --colors-components-buttons-primary-brand-bg-disabled-gray-100-alt: var(
      --colors-background-bg-gray-100-alt
    );
    --colors-components-buttons-primary-brand-bg-hover-brand-600: var(
      --colors-background-bg-brand-600
    );
    --colors-components-buttons-primary-brand-bg-pressed-brand-400: var(
      --colors-background-bg-brand-400
    );
    --colors-components-buttons-primary-brand-border-disabled-gray-200: var(
      --colors-border-border-gray-200
    );
    --colors-components-buttons-primary-brand-fg-default-white-un: var(
      --colors-foreground-fg-white-un
    );
    --colors-components-buttons-primary-brand-fg-disabled-gray-400: var(
      --colors-foreground-fg-gray-400
    );
    --colors-components-buttons-secondary-brand-bg-default-white-alt: var(
      --colors-background-bg-white-alt
    );
    --colors-components-buttons-secondary-brand-bg-hover-brand-50: var(
      --colors-background-bg-brand-50
    );
    --colors-components-buttons-secondary-brand-border-default-brand-300-alt: var(
      --colors-border-border-brand-300-alt
    );
    --colors-components-buttons-secondary-brand-border-disabled-gray-200: var(
      --colors-border-border-gray-200
    );
    --colors-components-buttons-secondary-brand-border-hover-brand-400: var(
      --colors-border-border-brand-400
    );
    --colors-components-buttons-secondary-brand-fg-default-brand-500: var(
      --colors-foreground-fg-brand-500
    );
    --colors-components-buttons-secondary-brand-fg-disabled-gray-400: var(
      --colors-foreground-fg-gray-400
    );
    --colors-components-buttons-secondary-brand-fg-hover-brand-600: var(
      --colors-foreground-fg-brand-600
    );
    --colors-components-buttons-secondary-brand-fg-pressed-brand-400: var(
      --colors-foreground-fg-brand-400
    );
    --colors-components-buttons-secondary-gray-bg-default-white-alt: var(
      --colors-background-bg-white-alt
    );
    --colors-components-buttons-secondary-gray-bg-hover-gray-200-alt: var(
      --colors-background-bg-gray-200-alt
    );
    --colors-components-buttons-secondary-gray-border-default-gray-300: var(
      --colors-border-border-gray-300
    );
    --colors-components-buttons-secondary-gray-border-disabled-gray-200: var(
      --colors-border-border-gray-200
    );
    --colors-components-buttons-secondary-gray-border-hover-gray-400: var(
      --colors-border-border-gray-400
    );
    --colors-components-buttons-secondary-gray-fg-default-gray-600: var(
      --colors-foreground-fg-gray-600
    );
    --colors-components-buttons-secondary-gray-fg-disabled-gray-400: var(
      --colors-foreground-fg-gray-400
    );
    --colors-components-buttons-secondary-gray-fg-hover-gray-700: var(
      --colors-foreground-fg-gray-700
    );
    --colors-components-buttons-secondary-gray-fg-pressed-gray-500: var(
      --colors-foreground-fg-gray-500
    );
    --colors-components-buttons-tertiary-brand-bg-focused-transparent: var(
      --colors-background-bg-transperent
    );
    --colors-components-buttons-tertiary-brand-bg-hover-brand-50: var(
      --colors-background-bg-brand-50
    );
    --colors-components-buttons-tertiary-brand-bg-pressed-white-alt: var(
      --colors-background-bg-white-alt
    );
    --colors-components-buttons-tertiary-brand-fg-default-brand-500: var(
      --colors-foreground-fg-brand-500
    );
    --colors-components-buttons-tertiary-brand-fg-disabled-gray-400: var(
      --colors-foreground-fg-gray-400
    );
    --colors-components-buttons-tertiary-brand-fg-hover-brand-600: var(
      --colors-foreground-fg-brand-600
    );
    --colors-components-buttons-tertiary-brand-fg-pressed-brand-400-un: var(
      --colors-foreground-fg-brand-400-un
    );
    --colors-components-buttons-tertiary-gray-bg-focused-transparent: var(
      --colors-background-bg-transperent
    );
    --colors-components-buttons-tertiary-gray-bg-hover-gray-200-alt: var(
      --colors-background-bg-gray-200-alt
    );
    --colors-components-buttons-tertiary-gray-bg-pressed-white-alt: var(
      --colors-background-bg-white-alt
    );
    --colors-components-buttons-tertiary-gray-fg-default-gray-600: var(
      --colors-foreground-fg-gray-600
    );
    --colors-components-buttons-tertiary-gray-fg-disabled-gray-400: var(
      --colors-foreground-fg-gray-400
    );
    --colors-components-buttons-tertiary-gray-fg-hover-gray-700: var(
      --colors-foreground-fg-gray-700
    );
    --colors-components-buttons-tertiary-gray-fg-pressed-gray-500: var(
      --colors-foreground-fg-gray-500
    );
    --colors-components-checkboxes-bg-default-brand-500: var(
      --colors-background-bg-brand-500
    );
    --colors-components-checkboxes-bg-default-white: var(
      --colors-background-bg-white
    );
    --colors-components-checkboxes-bg-disabled-gray-100: var(
      --colors-background-bg-gray-100
    );
    --colors-components-checkboxes-bg-hover-brand-600: var(
      --colors-background-bg-brand-600
    );
    --colors-components-checkboxes-bg-pressed-brand-400: var(
      --colors-background-bg-brand-400
    );
    --colors-components-checkboxes-border-default-gray-400: var(
      --colors-border-border-gray-400
    );
    --colors-components-checkboxes-border-disabled-gray-300: var(
      --colors-border-border-gray-300
    );
    --colors-components-checkboxes-border-hover-gray-500: var(
      --colors-border-border-gray-500
    );
    --colors-components-checkboxes-border-pressed-gray-300: var(
      --colors-border-border-gray-300
    );
    --colors-components-checkboxes-fg-default-white-un: var(
      --colors-foreground-fg-white-un
    );
    --colors-components-checkboxes-fg-disabled-gray-400: var(
      --colors-foreground-fg-gray-400
    );
    --colors-components-icons-bg-hover-brand-50: var(
      --colors-background-bg-brand-50
    );
    --colors-components-icons-bg-hover-gray-200-alt: var(
      --colors-background-bg-gray-200-alt
    );
    --colors-components-icons-fg-default-brand-500: var(
      --colors-foreground-fg-brand-500
    );
    --colors-components-icons-fg-default-gray-500-alt: var(
      --colors-foreground-fg-gray-500-alt
    );
    --colors-components-icons-fg-disabled-brand-400: var(
      --colors-foreground-fg-brand-400
    );
    --colors-components-icons-fg-disabled-gray-400: var(
      --colors-foreground-fg-gray-400
    );
    --colors-components-icons-fg-hover-brand-600: var(
      --colors-foreground-fg-brand-600
    );
    --colors-components-icons-fg-hover-gray-600: var(
      --colors-foreground-fg-gray-600
    );
    --colors-components-inputs-bg-active-brand-25: var(
      --colors-background-bg-brand-25
    );
    --colors-components-inputs-bg-default-white: var(
      --colors-background-bg-white
    );
    --colors-components-inputs-bg-disabled-gray-100: var(
      --colors-background-bg-gray-100
    );
    --colors-components-inputs-bg-hover-gray-50-alt: var(
      --colors-background-bg-gray-50-alt
    );
    --colors-components-inputs-border-active-brand-300: var(
      --colors-border-border-brand-300
    );
    --colors-components-inputs-border-default-gray-200: var(
      --colors-border-border-gray-200
    );
    --colors-components-inputs-border-default-gray-300: var(
      --colors-border-border-gray-300
    );
    --colors-components-inputs-border-error-300: var(--colors-error-400);
    --colors-components-inputs-fg-active-gray-600: var(
      --colors-foreground-fg-gray-600
    );
    --colors-components-inputs-fg-default-brand-500: var(
      --colors-foreground-fg-brand-500
    );
    --colors-components-inputs-fg-default-error-600: var(
      --colors-foreground-fg-error-600
    );
    --colors-components-inputs-fg-default-gray-500: var(
      --colors-foreground-fg-gray-500
    );
    --colors-components-inputs-fg-disabled-gray-400: var(
      --colors-foreground-fg-gray-400
    );
    --colors-components-logos-bg-white: var(--colors-background-bg-white-logo);
    --colors-components-logos-border-gray-200: var(
      --colors-border-border-gray-200
    );
    --colors-components-logos-fg-brand-500: var(
      --colors-foreground-fg-brand-500-logo
    );
    --colors-components-logos-fg-gray-300: var(--colors-foreground-fg-gray-300);
    --colors-components-pagination-bg-active-brand-50: var(
      --colors-background-bg-brand-50
    );
    --colors-components-pagination-bg-hover-gray-50-alt: var(
      --colors-background-bg-gray-50-alt
    );
    --colors-components-pagination-border-default-gray-200: var(
      --colors-border-border-gray-200
    );
    --colors-components-slider-bg-active-brand-500: var(--colors-app-blue-500);
    --colors-components-slider-bg-default-brand-400: var(--colors-app-blue-600);
    --colors-components-slider-bg-default-gray-200: var(
      --colors-gray-dark-mode-700
    );
    --colors-components-slider-bg-disabled-gray-300: var(
      --colors-gray-dark-mode-600
    );
    --colors-components-slider-bg-hover-brand-600: var(--colors-app-blue-400);
    --colors-components-slider-fg-default-white-un: var(--colors-base-white);
    --colors-components-slider-fg-white-alt-2-2: var(
      --colors-gray-dark-mode-800
    );
    --colors-components-table-bg-default-brand-100-alt: var(
      --colors-background-bg-brand-100-alt
    );
    --colors-components-table-bg-default-cell-white: var(
      --colors-background-bg-white
    );
    --colors-components-table-bg-default-header-gray-25: var(
      --colors-background-bg-gray-25
    );
    --colors-components-table-bg-hover-cell-gray-25: var(
      --colors-background-bg-gray-25
    );
    --colors-components-table-bg-selected-cell-brand-50: var(
      --colors-background-bg-brand-50
    );
    --colors-components-table-border-default-brand-200: var(
      --colors-border-border-brand-200
    );
    --colors-components-table-border-default-gray-200: var(
      --colors-border-border-gray-200
    );
    --colors-components-table-fg-default-gray-700: var(
      --colors-foreground-fg-gray-700
    );
    --colors-components-tabs-bg-active-brand-50: var(
      --colors-background-bg-brand-50
    );
    --colors-components-tabs-bg-default-gray-50: var(
      --colors-background-bg-gray-50
    );
    --colors-components-tabs-bg-white-alt-2: var(
      --colors-background-bg-white-alt-2
    );
    --colors-components-tabs-border-active-brand-600: var(
      --colors-border-border-brand-600
    );
    --colors-components-tabs-border-default-gray-200: var(
      --colors-border-border-gray-200
    );
    --colors-components-tabs-border-hover-gray-400: var(
      --colors-border-border-gray-400
    );
    --colors-components-tabs-fg-active-brand-900: var(
      --colors-foreground-fg-brand-900
    );
    --colors-components-tabs-fg-default-gray-500: var(
      --colors-foreground-fg-gray-500
    );
    --colors-components-tabs-fg-disable-gray-300: var(
      --colors-foreground-fg-gray-300
    );
    --colors-components-tabs-fg-hover-gray-700: var(
      --colors-foreground-fg-gray-700
    );
    --colors-components-tooltip-bg-brand-950: var(--colors-app-blue-50);
    --colors-components-tooltips-bg-default-brand-950: var(
      --colors-background-bg-brand-950
    );
    --colors-foreground-fg-brand-400: var(--colors-app-blue-500);
    --colors-foreground-fg-brand-400-alt: var(--colors-app-blue-300);
    --colors-foreground-fg-brand-400-un: var(--colors-app-blue-400);
    --colors-foreground-fg-brand-500: var(--colors-app-blue-400);
    --colors-foreground-fg-brand-500-20: var(--colors-app-blue-400-50);
    --colors-foreground-fg-brand-500-logo: var(--colors-base-white);
    --colors-foreground-fg-brand-600: var(--colors-app-blue-400);
    --colors-foreground-fg-brand-900: var(--colors-app-blue-50);
    --colors-foreground-fg-caution-600: var(--colors-caution-500);
    --colors-foreground-fg-error-500: var(--colors-error-400);
    --colors-foreground-fg-error-600: var(--colors-error-500);
    --colors-foreground-fg-gray-300: var(--colors-gray-dark-mode-700);
    --colors-foreground-fg-gray-400: var(--colors-gray-dark-mode-600);
    --colors-foreground-fg-gray-500: var(--colors-gray-dark-mode-500);
    --colors-foreground-fg-gray-500-alt: var(--colors-base-white-60);
    --colors-foreground-fg-gray-600: var(--colors-gray-dark-mode-400);
    --colors-foreground-fg-gray-700: var(--colors-gray-dark-mode-300);
    --colors-foreground-fg-gray-800: var(--colors-gray-dark-mode-200);
    --colors-foreground-fg-gray-900: var(--colors-gray-dark-mode-100);
    --colors-foreground-fg-success-500: var(--colors-success-400);
    --colors-foreground-fg-success-600: var(--colors-success-500);
    --colors-foreground-fg-warning-500: var(--colors-warning-400);
    --colors-foreground-fg-warning-600: var(--colors-warning-500);
    --colors-foreground-fg-white-alt-2: var(--colors-gray-dark-mode-800);
    --colors-foreground-fg-white-un: var(--colors-base-white);
    --colors-primary-colors-brand-brand-100: var(--colors-app-blue-900);
    --colors-primary-colors-brand-brand-100-alt: var(
      --colors-primary-colors-gray-gray-100
    );
    --colors-primary-colors-brand-brand-200: var(--colors-app-blue-800);
    --colors-primary-colors-brand-brand-200-alt: var(
      --colors-primary-colors-gray-gray-200
    );
    --colors-primary-colors-brand-brand-300: var(--colors-app-blue-300);
    --colors-primary-colors-brand-brand-300-alt: var(
      --colors-primary-colors-gray-gray-300
    );
    --colors-primary-colors-brand-brand-400: var(--colors-app-blue-600);
    --colors-primary-colors-brand-brand-400-alt: var(
      --colors-primary-colors-gray-gray-400
    );
    --colors-primary-colors-brand-brand-50: var(--colors-app-blue-950);
    --colors-primary-colors-brand-brand-500: var(--colors-app-blue-500);
    --colors-primary-colors-brand-brand-500-alt: var(
      --colors-primary-colors-gray-gray-500
    );
    --colors-primary-colors-brand-brand-50-alt: var(
      --colors-primary-colors-gray-gray-50
    );
    --colors-primary-colors-brand-brand-600: var(--colors-app-blue-400);
    --colors-primary-colors-brand-brand-600-alt: var(
      --colors-primary-colors-gray-gray-600
    );
    --colors-primary-colors-brand-brand-700: var(--colors-app-blue-300);
    --colors-primary-colors-brand-brand-700-alt: var(
      --colors-primary-colors-gray-gray-700
    );
    --colors-primary-colors-brand-brand-800: var(--colors-app-blue-200);
    --colors-primary-colors-brand-brand-800-alt: var(
      --colors-primary-colors-gray-gray-800
    );
    --colors-primary-colors-brand-brand-900: var(--colors-app-blue-100);
    --colors-primary-colors-brand-utility-brand-900-alt: var(
      --colors-primary-colors-gray-gray-900
    );
    --colors-primary-colors-caution-caution-100: var(--colors-caution-900);
    --colors-primary-colors-caution-caution-200: var(--colors-caution-800);
    --colors-primary-colors-caution-caution-300: var(--colors-caution-700);
    --colors-primary-colors-caution-caution-400: var(--colors-caution-600);
    --colors-primary-colors-caution-caution-50: var(--colors-caution-950);
    --colors-primary-colors-caution-caution-500: var(--colors-caution-500);
    --colors-primary-colors-caution-caution-600: var(--colors-caution-400);
    --colors-primary-colors-caution-utility-warning-700: var(
      --colors-caution-300
    );
    --colors-primary-colors-error-error-100: var(--colors-error-900);
    --colors-primary-colors-error-error-200: var(--colors-error-800);
    --colors-primary-colors-error-error-300: var(--colors-error-700);
    --colors-primary-colors-error-error-400: var(--colors-error-600);
    --colors-primary-colors-error-error-50: var(--colors-error-950);
    --colors-primary-colors-error-error-500: var(--colors-error-500);
    --colors-primary-colors-error-error-600: var(--colors-error-400);
    --colors-primary-colors-error-error-700: var(--colors-error-300);
    --colors-primary-colors-gray-gray-100: var(--colors-gray-dark-mode-800);
    --colors-primary-colors-gray-gray-200: var(--colors-gray-dark-mode-700);
    --colors-primary-colors-gray-gray-300: var(--colors-gray-dark-mode-700);
    --colors-primary-colors-gray-gray-400: var(--colors-gray-dark-mode-600);
    --colors-primary-colors-gray-gray-50: var(--colors-gray-dark-mode-900);
    --colors-primary-colors-gray-gray-500: var(--colors-gray-dark-mode-500);
    --colors-primary-colors-gray-gray-600: var(--colors-gray-dark-mode-400);
    --colors-primary-colors-gray-gray-700: var(--colors-gray-dark-mode-300);
    --colors-primary-colors-gray-gray-800: var(--colors-gray-dark-mode-200);
    --colors-primary-colors-gray-gray-900: var(--colors-gray-dark-mode-100);
    --colors-primary-colors-success-success-100: var(--colors-success-900);
    --colors-primary-colors-success-success-200: var(--colors-success-800);
    --colors-primary-colors-success-success-300: var(--colors-success-700);
    --colors-primary-colors-success-success-400: var(--colors-success-600);
    --colors-primary-colors-success-success-50: var(--colors-success-950);
    --colors-primary-colors-success-success-500: var(--colors-success-500);
    --colors-primary-colors-success-success-600: var(--colors-success-400);
    --colors-primary-colors-success-utility-success-700: var(
      --colors-success-300
    );
    --colors-primary-colors-warning-utility-warning-700: var(
      --colors-warning-300
    );
    --colors-primary-colors-warning-warning-100: var(--colors-warning-900);
    --colors-primary-colors-warning-warning-200: var(--colors-warning-800);
    --colors-primary-colors-warning-warning-300: var(--colors-warning-700);
    --colors-primary-colors-warning-warning-400: var(--colors-warning-600);
    --colors-primary-colors-warning-warning-50: var(--colors-warning-950);
    --colors-primary-colors-warning-warning-500: var(--colors-warning-500);
    --colors-primary-colors-warning-warning-600: var(--colors-warning-400);
    --colors-secondary-colors-fuchsia-100: var(--colors-fuchsia-900);
    --colors-secondary-colors-fuchsia-200: var(--colors-fuchsia-800);
    --colors-secondary-colors-fuchsia-300: var(--colors-fuchsia-700);
    --colors-secondary-colors-fuchsia-400: var(--colors-fuchsia-600);
    --colors-secondary-colors-fuchsia-50: var(--colors-fuchsia-950);
    --colors-secondary-colors-fuchsia-500: var(--colors-fuchsia-500);
    --colors-secondary-colors-fuchsia-600: var(--colors-fuchsia-400);
    --colors-secondary-colors-fuchsia-700: var(--colors-fuchsia-300);
    --colors-text-brand-300: var(--colors-app-blue-700);
    --colors-text-brand-400: var(--colors-app-blue-500);
    --colors-text-brand-500: var(--colors-app-blue-400);
    --colors-text-brand-500-20: var(--colors-app-blue-400-50);
    --colors-text-brand-600: var(--colors-app-blue-300);
    --colors-text-brand-700: var(--colors-app-blue-300);
    --colors-text-brand-800: var(--colors-app-blue-100);
    --colors-text-brand-900: var(--colors-app-blue-50);
    --colors-text-caution-900: var(--colors-caution-50);
    --colors-text-error-500: var(--colors-error-500);
    --colors-text-error-600: var(--colors-error-400);
    --colors-text-error-900: var(--colors-error-50);
    --colors-text-fuchsia-300: var(--colors-fuchsia-700);
    --colors-text-fuchsia-400: var(--colors-fuchsia-500);
    --colors-text-fuchsia-500: var(--colors-fuchsia-400);
    --colors-text-fuchsia-500-20: var(--colors-fuchsia-400-50);
    --colors-text-fuchsia-600: var(--colors-fuchsia-300);
    --colors-text-gray-200: var(--colors-gray-dark-mode-800);
    --colors-text-gray-25: var(--colors-gray-light-mode-900);
    --colors-text-gray-300: var(--colors-gray-dark-mode-700);
    --colors-text-gray-400: var(--colors-gray-dark-mode-600);
    --colors-text-gray-500: var(--colors-gray-dark-mode-500);
    --colors-text-gray-600: var(--colors-gray-dark-mode-400);
    --colors-text-gray-700: var(--colors-gray-dark-mode-300);
    --colors-text-gray-800: var(--colors-gray-dark-mode-200);
    --colors-text-gray-900: var(--colors-gray-dark-mode-50);
    --colors-text-primary-white-un: var(--colors-base-white);
    --colors-text-success-900: var(--colors-success-50);
  }
}

body {
  font-family: Geist, system-ui;
}
