
:root {
    --colors-app-blue-100: #d1e0ff;
    --colors-app-blue-200: #b2ccff;
    --colors-app-blue-25: #f5f8ff;
    --colors-app-blue-300: #84adff;
    --colors-app-blue-400: #528bff;
    --colors-app-blue-400-10: #528bff1a;
    --colors-app-blue-400-50: #528bff80;
    --colors-app-blue-50: #eff4ff;
    --colors-app-blue-500: #2a6aeb;
    --colors-app-blue-500-20: #2a6aeb33;
    --colors-app-blue-600: #1153d6;
    --colors-app-blue-700: #003cb2;
    --colors-app-blue-800: #002f8c;
    --colors-app-blue-900: #002266;
    --colors-app-blue-950: #001a4d;
    --colors-base-black: #04080f;
    --colors-base-white: #ffffff;
    --colors-base-white-0: #ffffff00;
    --colors-base-white-01: #ffffff00;
    --colors-base-white-05: #ffffff0d;
    --colors-base-white-10: #ffffff1a;
    --colors-base-white-20: #ffffff33;
    --colors-base-white-30: #ffffff4d;
    --colors-base-white-40: #ffffff66;
    --colors-base-white-50: #ffffff80;
    --colors-base-white-60: #ffffff99;
    --colors-base-white-70: #ffffffb2;
    --colors-base-white-80: #ffffffcc;
    --colors-base-white-90: #ffffffe5;
    --colors-brand-accuris-100: #d6e4ff;
    --colors-brand-accuris-200: #b9ccfe;
    --colors-brand-accuris-25: #f7faff;
    --colors-brand-accuris-300: #8096f9;
    --colors-brand-accuris-400: #4f61fc;
    --colors-brand-accuris-50: #eef3ff;
    --colors-brand-accuris-500: #1000e8;
    --colors-brand-accuris-600: #0d00bf;
    --colors-brand-accuris-700: #0b0099;
    --colors-brand-accuris-800: #070066;
    --colors-brand-accuris-900: #05004d;
    --colors-brand-accuris-950: #030033;
    --colors-caution-100: #fef7c3;
    --colors-caution-200: #feee95;
    --colors-caution-25: #fefdf0;
    --colors-caution-300: #fde272;
    --colors-caution-400: #fac515;
    --colors-caution-50: #fefbe8;
    --colors-caution-500: #eaaa08;
    --colors-caution-600: #ca8504;
    --colors-caution-700: #a15c07;
    --colors-caution-800: #854a0e;
    --colors-caution-900: #713b12;
    --colors-caution-950: #542c0d;
    --colors-error-100: #fee4e2;
    --colors-error-200: #fecdca;
    --colors-error-25: #fffbfa;
    --colors-error-300: #fda29b;
    --colors-error-400: #f97066;
    --colors-error-50: #fef3f2;
    --colors-error-500: #f04438;
    --colors-error-600: #d92d20;
    --colors-error-700: #b42318;
    --colors-error-800: #912018;
    --colors-error-900: #7a271a;
    --colors-error-950: #55160c;
    --colors-fuchsia-100: #f4e8ff;
    --colors-fuchsia-200: #e9d0fe;
    --colors-fuchsia-25: #fdfaff;
    --colors-fuchsia-300: #d6aafd;
    --colors-fuchsia-400: #bd78fa;
    --colors-fuchsia-400-50: #bd78fa80;
    --colors-fuchsia-50: #faf5ff;
    --colors-fuchsia-500: #9e46eb;
    --colors-fuchsia-500-20: #a044f133;
    --colors-fuchsia-600: #8029cc;
    --colors-fuchsia-700: #661ea6;
    --colors-fuchsia-800: #4d1480;
    --colors-fuchsia-900: #400f6b;
    --colors-fuchsia-950: #30104c;
    --colors-gray-dark-mode-100: #f0f1f1;
    --colors-gray-dark-mode-200: #ececed;
    --colors-gray-dark-mode-25: #fafafa;
    --colors-gray-dark-mode-300: #cecfd2;
    --colors-gray-dark-mode-400: #94969c;
    --colors-gray-dark-mode-50: #f5f5f6;
    --colors-gray-dark-mode-500: #85888e;
    --colors-gray-dark-mode-600: #61646c;
    --colors-gray-dark-mode-700: #333741;
    --colors-gray-dark-mode-800: #1f242f;
    --colors-gray-dark-mode-900: #161b26;
    --colors-gray-dark-mode-950: #0c111d;
    --colors-gray-light-mode-100: #f2f4f7;
    --colors-gray-light-mode-200: #eaecf0;
    --colors-gray-light-mode-25: #fcfcfd;
    --colors-gray-light-mode-300: #d0d5dd;
    --colors-gray-light-mode-400: #98a2b3;
    --colors-gray-light-mode-50: #f9fafb;
    --colors-gray-light-mode-500: #667085;
    --colors-gray-light-mode-600: #475467;
    --colors-gray-light-mode-700: #344054;
    --colors-gray-light-mode-800: #182230;
    --colors-gray-light-mode-900: #101828;
    --colors-gray-light-mode-950: #0c111d;
    --colors-stone-100: #f0f3f7;
    --colors-stone-200: #ebeff5;
    --colors-stone-25: #f8fafd;
    --colors-stone-300: #e6ebf2;
    --colors-stone-400: #e1e8f0;
    --colors-stone-50: #f5f7fa;
    --colors-stone-500: #dde4ed;
    --colors-stone-600: #b1b7be;
    --colors-stone-700: #85898e;
    --colors-stone-800: #585b5f;
    --colors-stone-900: #303133;
    --colors-stone-950: #1a1b1c;
    --colors-success-100: #dcfae6;
    --colors-success-200: #abefc6;
    --colors-success-25: #f6fef9;
    --colors-success-300: #75e0a7;
    --colors-success-400: #47cd89;
    --colors-success-50: #ecfdf3;
    --colors-success-500: #17b26a;
    --colors-success-600: #079455;
    --colors-success-700: #067647;
    --colors-success-800: #085d3a;
    --colors-success-900: #074d31;
    --colors-success-950: #053321;
    --colors-sunrise-100: #ffd8d7;
    --colors-sunrise-200: #ffb2b0;
    --colors-sunrise-25: #fffafa;
    --colors-sunrise-300: #ff8b88;
    --colors-sunrise-400: #ff6561;
    --colors-sunrise-50: #ffeceb;
    --colors-sunrise-500: #ff3e39;
    --colors-sunrise-600: #cc322e;
    --colors-sunrise-700: #992522;
    --colors-sunrise-800: #7b201e;
    --colors-sunrise-900: #4d1311;
    --colors-sunrise-950: #330c0b;
    --colors-warning-100: #fdead7;
    --colors-warning-200: #f9dbaf;
    --colors-warning-25: #fffcf5;
    --colors-warning-300: #f7b27a;
    --colors-warning-400: #f38744;
    --colors-warning-50: #fef6ee;
    --colors-warning-500: #ef6820;
    --colors-warning-600: #e04f16;
    --colors-warning-700: #b93815;
    --colors-warning-800: #932f19;
    --colors-warning-900: #772917;
    --colors-warning-950: #511c10;
    --colors-zest-100: #eeffd7;
    --colors-zest-200: #e2ffbc;
    --colors-zest-25: #f9fff2;
    --colors-zest-300: #d4ff9a;
    --colors-zest-400: #c5ff79;
    --colors-zest-50: #f4ffe5;
    --colors-zest-500: #b7ff57;
    --colors-zest-600: #93d046;
    --colors-zest-700: #74a637;
    --colors-zest-800: #57802a;
    --colors-zest-900: #345219;
    --colors-zest-950: #15290a;
    --radius-none: 0px;
    --radius-xxs: 2px;
    --radius-xs: 4px;
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 10px;
    --radius-xl: 12px;
    --radius-2xl: 16px;
    --radius-3xl: 20px;
    --radius-4xl: 24px;
    --radius-full: 9999px;
    --sizes-0: 0px;
    --sizes-2: 2px;
    --sizes-4: 4px;
    --sizes-6: 6px;
    --sizes-8: 8px;
    --sizes-10: 10px;
    --sizes-12: 12px;
    --sizes-16: 16px;
    --sizes-20: 20px;
    --sizes-24: 24px;
    --sizes-32: 32px;
    --sizes-40: 40px;
    --sizes-48: 48px;
    --sizes-56: 56px;
    --sizes-64: 64px;
    --sizes-72: 72px;
    --sizes-80: 80px;
    --sizes-96: 96px;
    --sizes-128: 128px;
    --sizes-160: 160px;
    --sizes-192: 192px;
    --sizes-224: 224px;
    --sizes-256: 256px;
    --sizes-320: 320px;
    --sizes-384: 384px;
    --sizes-480: 480px;
    --sizes-560: 560px;
    --sizes-640: 640px;
    --sizes-720: 720px;
    --sizes-768: 768px;
    --sizes-1024: 1024px;
    --sizes-1280: 1280px;
    --sizes-1440: 1440px;
    --sizes-1600: 1600px;
    --sizes-1920: 1920px;
    /* numbers */
    --spacing-0: var(--sizes-0);
    --spacing-2: var(--sizes-2);
    --spacing-4: var(--sizes-4);
    --spacing-6: var(--sizes-6);
    --spacing-8: var(--sizes-8);
    --spacing-10: var(--sizes-10);
    --spacing-12: var(--sizes-12);
    --spacing-16: var(--sizes-16);
    --spacing-20: var(--sizes-20);
    --spacing-24: var(--sizes-24);
    --spacing-32: var(--sizes-32);
    --spacing-40: var(--sizes-40);
    --spacing-48: var(--sizes-48);
    --spacing-56: var(--sizes-56);
    --spacing-64: var(--sizes-64);
    --spacing-72: var(--sizes-72);
    --spacing-80: var(--sizes-80);
    --spacing-96: var(--sizes-96);
    --spacing-128: var(--sizes-128);
    --spacing-160: var(--sizes-160);
    --weight-400: var(--weight-400);
    --weight-600: var(--weight-600);
    --width-5xs: var(--sizes-192);
    --width-4xs: var(--sizes-224);
    --width-3xs: var(--sizes-256);
    --width-2xs: var(--sizes-320);
    --width-xs: var(--sizes-384);
    --width-sm: var(--sizes-480);
    --width-md: var(--sizes-560);
    --width-lg: var(--sizes-640);
    --paragraph-max-width: var(--sizes-720);
    --width-xl: var(--sizes-768);
    --width-2xl: var(--sizes-1024);
    --width-3xl: var(--sizes-1280);
    --width-4xl: var(--sizes-1440);
    --width-5xl: var(--sizes-1600);
    --width-6xl: var(--sizes-1920);
}
